@import '~bootstrap/scss/bootstrap';

ul{
    list-style-type: none;
    padding: 0;
}

header{
    height: 100px;
    background-color: green;
}

main{
    background-color: rgb(28,28,28);

    .my-card{
        color: white;
    }
}




